<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.neuroforge.research</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/christianmerrill/Documents/GitHub/.venv/bin/python3</string>
        <string>/Users/christianmerrill/Documents/GitHub/scripts/research_cycle.py</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/christianmerrill/Documents/GitHub/logs/research_cycle.out</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/christianmerrill/Documents/GitHub/logs/research_cycle.err</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>ATHENA_BASE</key>
        <string>http://127.0.0.1:8090</string>
        <key>ATH_TOKEN</key>
        <string>supersecret</string>
        <key>BRIDGE_BASE</key>
        <string>http://127.0.0.1:8014</string>
    </dict>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>

